.app-chat .video-container {
    max-width: fit-content !important;
    position: relative;
    margin: 0 !important;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .app-chat .video-container {
        max-width: none;
    }
}

.app-chat .video-container video {
    padding: 8px;
}
