.app-chat .video-container {
    max-width: fit-content !important;
    position: relative;
    margin: 0 !important;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .video-container {
        max-width: none;
    }
}

video {
    max-height: 46vh;
}
