#root {
  font-size: 18px;
  color: limegreen;
}

#root .app {
  height: 100vh;
  margin: 0 !important;
  background-color: black;
  overflow: hidden;
}

#root .app .app-chat {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column
}

#root .app .app-chat .app-chat-row {
  padding: 0;
  height: fit-content;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

#root .app .app-chat .app-chat-debug {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root .app .app-chat .app-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  height: 20vh;
}

#root .app .app-controls button {
  margin: 0 6px;
}
