.app {
  text-align: center;
}

.chat {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chat-main {
  height: 74vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-controls {
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.chat-controls button {
  margin: 0 8px !important;
}

.chat-videos {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
