.App {
  text-align: center;
}

.App-chat {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-chat-main {
  height: 74vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-chat-controls {
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.App-chat-controls button {
  margin: 0 8px !important;
}

.App-chat-videos {
  width: 100vw;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 45%));
  grid-template-rows: 1fr;
  justify-content: center;
}
